.in-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slice-background {
    position: absolute;
    width: 110vw;
    height: 70%;
    filter: blur(8px);
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.432);
}

/* -- // Sections */
/*login-section*/
.login-section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(132, 192, 212, 0);
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
}

#login-window {
    position: relative;
    width: 40em;
    height: 25em;
    border-radius: 10px;
    /*box-shadow: 0px 0px 20px 15px rgba(53, 53, 53, 0.699); */
    padding: 2em;
    /*background-color: rgba(42, 40, 40, 0.658); */
    display: flex; 
    flex-direction: row;
}

#login-left {
    position: relative;
    width: 50%;
    height: 25em;
    display: flex; 
    flex-direction: column;
}

#login-title {
    font-size: 36px;
    font-weight: 700;
    color: white;
    margin: 0em;
}

#login-subtitle {
    font-size: 13px;
    font-weight: 300;
    font-style: italic;
    margin-top: 0em;
    margin-bottom: 1.5em;
    color: white;
}

#login-fields {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-bottom: 2em;
    width: 100%;
    height: auto;
    position: relative;
    align-items: flex-start;
    justify-content: flex-end;
}

#login-inputs {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-bottom: 1em;
    width: 100%;
    height: 50%;
    position: relative;
    align-items: flex-start;
    justify-content: flex-start;
}

.login-input {
    border: none;
    margin: 0;
    width: 100%;
    height: 70%;
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
    text-indent: 0.6em;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    font-size: 19px;
    font-weight: 550;
    border-radius: 5.5px;
    margin: 0em;
    box-shadow: 2px 6px 10px 0px rgba(73, 73, 73, 0.699);
}

::placeholder { 
    color: rgb(207, 207, 207);
}

.login-continue {
    display: block;
    border: none;
    margin: 0;
    width: 100%;
    height: 50%;
    background-color: rgba(220, 218, 218, 0.377);
    color: white;
    font-size: 15px;
    font-weight: 500;
    border-radius: 5.5px;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    margin: 0em;
    border: 2px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 0px 10px 2px rgba(122, 111, 111, 0.699);
    box-sizing: border-box;
    margin-bottom: 2em;
    filter: blur(0.1px);
}

#login-sso {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    position: relative;
    align-items: flex-start;
    justify-content: flex-start;
}

#login-sso-title {
    color: white;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    width: auto;
}

#login-sso-options {
    gap: 0.5em;
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 0.5em;
}

.login-cont-sso {
    display: block;
    border: none;
    margin: 0;
    width: auto;
    height: 100%;
    background-color: rgb(220, 218, 218);
    font-size: 15px;
    font-weight: 500;
    border-radius: 5.5px;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    padding-left: 0.6em;
    padding-right: 0.6em;
    margin: 0em;
    box-shadow: 0px 0px 10px 3px rgba(73, 73, 73, 0.699);
    box-sizing: border-box;
    margin: 0;
}

#login-right {
    position: relative;
    width: 50%;
    height: auto;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding-left: 2em;
}

#login-icon { 
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20em;
    width: auto;
    padding-bottom: 2em;
}